.a1{
    margin:30px; 
    padding: 10px 30px ; 
    border: 4px solid rgb(0, 0, 155);
    outline: 1px solid black;
    outline-offset: 2px;
}
.a2{
    text-align: center;
}
.a3 {
    border: 2px solid black; 
    float: right; 
    padding: 50px 15px  ;
    text-align: center;
}
.a4 {
    font-size: medium;
}
.a5{
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 2px solid black;
    outline: none;
}



